.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 12px;
  height: 50px;
  background-color: rgb(255, 250, 247);
  width: 100%;
  box-sizing: border-box;
}
.topbar-container h3, 
.topbar-container p,
.topbar-container a {
  color: #000000;
}
.topbar-container h3,
.topbar-container p {
  margin: 4px 0;
}
.topbar-container h3 {
  font-size: 25px;
  margin-left: 10px;
  text-transform: uppercase !important;
  letter-spacing: 1px;
}
.topbar-container p {
  font-size: 12px;
  letter-spacing: 1px;
}
.side-menu-icon img{
  width: 100%;
}
img.topbar-icons {
  width: 30px;
  margin-right: 5px;
}
/* sidebar css */
.sidenav {
  position: relative;
  transition: 0.3s ease-in;
}
.slideout {
  z-index: 1020;
  background-color: #F6F5F4;
  position: fixed;
  top: -15px;
  left: 0;
  width: 75%;
  height: 110vh;
  transition: 0.5s ease-out;
  box-shadow:
      6px 0.1px 2.2px rgba(0, 0, 0, 0.024),
      13.6px 0.3px 5px rgba(0, 0, 0, 0.035),
      23.6px 0.6px 8.7px rgba(0, 0, 0, 0.043),
      37.6px 0.9px 13.8px rgba(0, 0, 0, 0.05),
      58px 1.4px 21.3px rgba(0, 0, 0, 0.057),
      90.4px 2.1px 33.2px rgba(0, 0, 0, 0.065),
      150.1px 3.5px 55.1px rgba(0, 0, 0, 0.076),
      300px 7px 110px rgba(0, 0, 0, 0.1);
}
.sidenav-close {
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 999;
  cursor: pointer;
  font-weight: 100 !important;
}
ul.slideout {
  list-style: none;
}
.sidenav-links li {
  height: 34px;
  font-size: 1rem;
  line-height: 34px;
}
.slideout hr {
  color: rgb(232, 232, 232);
  width: 90%;
  margin-left: 0;
}
.topbar-container svg:not(:root).svg-inline--fa, 
.topbar-container svg:not(:host).svg-inline--fa {
  width: 25px;
}
ul.social-links {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}
ul.social-links li {
  display: inline-block;
  margin-right: 10px;
}

/* Media Query */
@media (min-width: 999px){
  .topbar-container {
    padding: 50px 60px;
    height: 70px;
  }
  .topbar-container h3 {
    font-size: 18px;
    letter-spacing: 2.6px;
    font-weight: 400;
  }
  .topbar-container p {
    font-size: 11px;
    letter-spacing: 2.7px;
  }
  img.topbar-icons {
    display: block;
    width: 30px;
    filter: invert(1);
    margin-right: 40px;
  }
  /* sidenav desktop */
  .slideout {
    right: 0;
    left: auto;
    width: 20%;
}
  .sidenav-links li {
    font-size: 1.1rem;
    height: 35px;
    line-height: 35px;
  }
}
  