/* Account Items Main Page */
.profile-bg-container {
	background-image: url(../../assets/photo-1619252584172-a83a949b6efd.jpg);
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    transition: none;
    text-align: center;
}
.profile-bg-container p,
.profile-bg-container span {
    margin: 4px 0;
}
.profile-bg-container span {
    border-radius: 50%;
    background: rgb(148, 162, 172);
    padding: 10px;
    color: rgb(20, 35, 46);
    width: 55px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-bg-container .svg-inline--fa {
    height: 2.2em;
}
.profile-menu-items ul {
    list-style: none;
    padding-left: 0;
}
.profile-menu-items ul li {
    font-size: 1rem;
    margin: 10px 0;
    border-bottom: 1px solid #e7e7e7;
    padding: 16px 0;
    display: flex;
    align-items: center;
}
.profile-menu-items ul li a{
    text-decoration: none;
    color: #14232e;
 }
.profile-menu-items img {
    margin-right: 14px;
    width: 25px;
}
/* Cart Page */
.cart-items-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}
.cart-container hr {
    color: #e7e7e7;
}
.cart-items-wrapper img {
    width: 100px;
}
.cart-total-container {
    position: fixed;
    bottom: 100px;
    left: 15px;
    box-sizing: border-box;
    width: 90%;
}
.cart-total-container button {
    background: #14232e;
    color: #fff;
    height: 55px;
    line-height: 55px;
    padding: 0 80px;
    font-size: 1.2rem;
    width: 100%;
}
.edit-customization-btn {
    cursor: pointer;
    border: none;
    background: transparent;
}
.promo-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 15px;
    color: rgb(255, 136, 0);
}
.edit-customization-popup {
    position: absolute;
    background: #fff;
    border: solid 1px #e1e1e1;
    border-radius: 4px;
    left: 10px;
    padding: 20px;
    box-shadow:
    0px 1.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 4.4px 5.3px rgba(0, 0, 0, 0.028),
    0px 8.3px 10px rgba(0, 0, 0, 0.035),
    0px 14.7px 17.9px rgba(0, 0, 0, 0.042),
    0px 27.6px 33.4px rgba(0, 0, 0, 0.05),
    0px 66px 80px rgba(0, 0, 0, 0.07)
    ;
}
.edit-customization-popup input {
    font-size: 16px;
    padding: 4px;
    border: 1px solid #e1e1e1;
    margin-bottom: 8px;
}
.edit-product-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 14px;
}
.edit-product-popup {
    position: absolute;
    background: #fff;
    border: solid 1px #e1e1e1;
    border-radius: 4px;
    right: 20px;
    padding: 20px;
}
.popup {
    border-radius: 12px;
    padding: 6px;
    height: 65px;
    box-shadow:
    0px 1.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 4.4px 5.3px rgba(0, 0, 0, 0.028),
    0px 8.3px 10px rgba(0, 0, 0, 0.035),
    0px 14.7px 17.9px rgba(0, 0, 0, 0.042),
    0px 27.6px 33.4px rgba(0, 0, 0, 0.05),
    0px 66px 80px rgba(0, 0, 0, 0.07)
    ;
}
.popup button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.popup input {
    border: 1px solid #b8b8b8;
    border-radius: 2px;
    font-size: 16px;
    padding: 4px;
}

.login-form {
    width: 95%;
    margin: auto;
    margin-top: 120px;
    box-sizing: border-box;
}
.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    outline: none;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 4px;
    font-size: 1.1rem;
}
.login-form input:focus {
    border-radius: 4px;
    border: 1px solid rgb(255, 136, 0);
}
.login-form button {
    background: rgb(255, 136, 0);
    color: #fff;
    border-radius: 8px;
}
.login-form-link {
    font-size: 1.1rem;
    text-decoration: underline;
    margin: 10px;
    cursor: pointer;
    color: #14232e;
}
.login-form-link:hover {
    color: rgb(255, 136, 0);
    transition: all 0.3s ease;
}

/* Orders page CSS */
.orders-card {
    border-radius: 12px;
    border: 1px solid #e7e7e7;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px auto;
}
.orders-card img {
    width: 125px;
    border-radius: 4px;
}
